<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
<body>
    <header><img src="/img/gift.png" alt="Meadowlark Travel Logo" width="100px" height="100px"></header>
    {{{body}}}
</body>
</html>